svg {
  border:1px solid;
}

body {
	background-color:black;
}

p {
	color: white;
	font-family: monospace;
}

h3 { 
	color: white 
}

div#viewCell{
	margin:0px;
	border:0px;
}

td.cell{
	height:20px;
	width:14px;
	border:1px solid black;
	font : bold 14px arial;
}


